.App {
  text-align: center;
  background-color: #222;
}

.navbar {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 72, 0, 0.801);
  padding: 2rem 6rem;
}

.navbar-menu {
  cursor: pointer;
}

.counter {
  color: rgba(255, 72, 0, 0.801);
  background-color: #222;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.counter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
}

.counter-starholder {
  display: flex;
  justify-content: center;
}
